/* You can add global styles to this file, and also import other style files */
$menu-color-back: #c0c0c0;
$font-stack: Helvetica, sans-serif;
$primary-color: #334;
$text-shadow: 0 1px 0;

$button-box-shadow-color: #ffffff;
$button-inset-color: #ffffff;
$button-gradient-color-from: #ffffff;
$button-gradient-color-to: #c0c0c0;
$button-color: #666666;

$button-activated-box-shadow-color: #dcecfb;
$button-activated-inset-color: #bddbfa;
$button-activated-gradient-color-from: #bddbfa;
$button-activated-gradient-color-to: #80b5ea;
$button-activated-color: #ffffff;

