<div class="menu">
  <h1>Angular Demo Quick Menu</h1>
  <h2>appConfigService.appConfig</h2>
  {{appConfigService.appConfig | json}}

  <h2>Navigation</h2>
  <a class="button" routerLink="/">Home</a> |
  <a class="button" routerLink="/Test1" routerLinkActive="activebutton">Test route 1</a> |
  <a class="button" routerLink="/Test2" routerLinkActive="activebutton">Test route 2</a> |
  <a class="button" routerLink="/Test3" routerLinkActive="activebutton">Test route 3</a>
  <hr />
</div>
<router-outlet></router-outlet>
